/*modal css*/

@import 'general-elements';

.report-popup-wrapper {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 66%;
    height: 95%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    z-index: 99999;
    padding: 30px 20px;
    font-family: "Courier New";
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    .report-popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 31px;
      cursor: pointer;
      &:hover {
          path {
              fill: #ccc;
          }
      }
    }
    h2 {
        color: #fafafa;
        font-size: 26px;
        margin: 0 0 20px;
        text-align: center;
        font-weight: normal;
    }
    &:hover .report-popup-footer {
        bottom: 0;
        visibility: visible;
    }
}
.report-popup-body {
    overflow: auto;
    width: 100%;
    height: calc(100% - 86px);
    background: #fff;
    border: 1px solid #ccc;
}

.report-popup-footer {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 0;
    right: 0;
    top: auto;
    bottom: -60px;
    height: 60px;
    padding: 0 20px;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.5);
    .report-popup-cancel {
        padding: 0 20px 0 0;
        font-size: 16px;
        color: #fafafa;
        cursor: pointer;
    }
    .report-popup-submit {
      @extend .butn-common
    }
}